$secondary-text-color: #f64c72;
$primary-text-color: #ffffff;

$dark-gray-color: #5a5b63;
$light-gray-color: #7e7e7e;

$primary-text-shadow: 3px 3px 6px #111;

$primary-background-color: #2f2fa2;
$secondary-background-color: #242582;
$primary-radial-gradient: radial-gradient(
  circle,
  rgb(78, 78, 182) 0%,
  rgb(20, 22, 116) 100%
);
